<!-- <div class="alert-danger" [hidden]="!showAlert || (file.valid && !file.pristine)"> -->
	<div class="alert-danger" [hidden]="!showAlert || formPersonal.valid">
    <img src="" alt="">
    <span class="alert-title">Recuerda</span>
    <span class="alert-content">Para continuar el proceso debes diligenciar todos los campos marcados con asterisco.
    </span>
    <img src="../../../assets/img/close.svg" class="alert-img" alt=""  (click)='hideAlert()'>
</div>
<div class="dp__content">    
    <form [formGroup]="formPersonal" autocomplete="off" action="">
        <div class="dp__form">
          
            <div class="dp__form-content">
                <div class="content__left">
                    

                    <div class="dp__form-group">
                        <label class="dp__form-label" for="gender">Indíquenos su formación académica *</label>
                        <select formControlName="fAcademica" class="dp__form-input dp__form-input--sinfondo" name="gender" required>
                            <option value="" disabled selected>Seleccionar formacion academica</option>
                            <option value="masculino">Profesional</option>
                            <option value="femenino">Tecnologo</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>

                   

                    <div class="dp__form-group">
                        <label class="dp__form-label" for="address">Por favor de una manera breve indíquenos la
                            presentación de su hoja de vida*</label>
                        <input formControlName="presentacion"  class="dp__form-input dp__form-input--sinfondo" type="text" placeholder="Escribe aquí" required>
                    </div>
                </div>

                <div class="content__right">
                    <label class="dp__label-check" >Mencione las tres áreas de su mayor especialización *</label>
                        <div class="dp__form-group-check">
                            <input class="dp__form-input-check" type="checkbox"  >
                            <label class="dp__form-label-check" for="check1">Estratégica</label>
                        </div>

                    <div class="dp__form-group-check">
                        <input class="dp__form-input-check"  type="checkbox" >
                        <label class="dp__form-label-check" for="check2">Internacionalización</label>
                    </div>

                    <div class="dp__form-group-check">
                        <input class="dp__form-input-check" type="checkbox">
                        <label class="dp__form-label-check" for="check3">Financiera</label>
                    </div>

                    <div class="dp__form-group-check">
                        <input class="dp__form-input-check" type="checkbox" >
                        <label class="dp__form-label-check" for="check4">Producción logística y operaciones</label>
                    </div>

                    <div class="dp__form-group-check">
                        <input class="dp__form-input-check" type="checkbox" >
                        <label class="dp__form-label-check" for="check5">Gobierno corporativo</label>
                    </div>

                    <div class="dp__form-group-check">
                        <input class="dp__form-input-check" type="checkbox" >
                        <label class="dp__form-label-check" for="check6">Mercadeo y ventas</label>
                    </div>

                    <div class="dp__form-group-check">                        
                        <input class="dp__form-input-check" type="checkbox" >
                        <label class="dp__form-label-check" for="check7">Marketing digital</label>
                    </div>

                    <!-- Campos para la derecha -->
                    
                </div>
            </div>

        </div>
        <div class="btns__form">
            <app-modal></app-modal>
            <button class="btn__cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Cancelar</button>
            <button (click)="onSubmit()"  type="submit" class="btn__next">Continuar</button>

        </div>
    </form>
</div>
<!--</div> -->