/* formulario */
form{
  width: 958px;
}
.dp__content{
  width: 911px;
  margin-top: 32px;
  margin-left: 14px ;
  margin-right: 23px ;
}

.dp__form-header{
    align-items: center;
    width: 887px;
    margin-bottom: 40px;
}

.dp__img-content{
    display: flex;
    flex-direction: row;
}
.dp__img-image{
    width: 65px;
    height: 65px;
}
.dp__img-title{
    margin-left: 107px;
    margin-bottom: -20px;
    font-size: 1.2rem;
    color: #333;
}
.archive__title{
    font-size: 18px;
}
.dp__img-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .dp__img-image {
    margin-right: 10px;
  }
  .dp__img-desc{
    font-size: 14px;
    margin-left: 107px;
    color: #3D3D3D;
  }
  
  .dp__img-file,
  .dp__img-file::before,
  .dp__img-file input[type="file"],
  .file-name {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .dp__img-file::before {
    background-color: white;
    color: #2377A2;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar archivo';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 163px;
    height: 41px;
    border: 2px solid #3888CE;
    margin-left: 15px;
  }
  
  .dp__img-file input[type="file"] {
    opacity: 0;
    width: 163px;
    height: 41px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .file-name {
    font-size: 16px;
    background-color: white;
    padding: 14px 24px;
    border-top: none;
    border-radius: 0 0 3px 3px;
    color: #3D3D3D;
    font-weight: 500;
    margin-top: 0;
    margin-left: 15px;
  }
  .dp__form-content{
    display: flex;
    flex-direction: row;
  }
  .content__left{
    margin-top: -10px;

    margin-right: 39px;
    margin-left: 10px;
    
  }
  .content__right{
    margin-top: -21px;

    
  }
 
  .dp__form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }
  
  .dp__form-input {
  box-sizing: border-box;

   top: 545px;
   left: 228px;
   width: 436px;
   height: 52px;
   border: none;
   outline: none;
   background-color: #F1F1F1;
   border-bottom: 2px solid #E8E8E8;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   margin-bottom: 26px;
   font-family: sans-serif;
}
.dp__form-label{
    color: #8A8A8A;
    font-size: 12px;
    margin-bottom: 5px;
}
.dp__form-input::placeholder {
    padding-left: 20px;
    color: #8A8A8A; 
    font-size: 14px; 
  }

  .dp__form-group .dp__form-input:not(:placeholder-shown) {
    color: #8A8A8A; 
    font-size: 16px;
    padding-left: 20px;

  }
  
  .dp__form-input--sinfondo {
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #AFAFAF;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #3D3D3D;
}
.btns__form{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 40px;
  margin-top: 107px;
  margin-right: 15px;
}

.btn__cancel{
  cursor: pointer;

  font-size: 18px;
  width: 298.33px;
  height: 60px;
  color: #2377A1;
  border: 2px solid #91BBD0;
  border-radius: 4px;
  opacity: 1;
  background-color: white;
  transition: all 300ms ease-in-out; ; 
  font-family: "RalewayBold";
}
.btn__cancel:hover{  
  color: white;  
  background-color: #000000; 
  border: 1px solid #000000;

}


.btn__next{
  cursor: pointer;
  font-size: 18px;
  width: 298px;
  height: 60px;
  color: white;
  border: 1px solid #91BBD0;
  border-radius: 4px;
  opacity: 1;
  background-color: #DD0034;
  transition: all 300ms ease-in-out; ;
  font-family: "RalewayBold";

}
.btn__next:hover{
  color: white;  
  background-color: #A0002E; 
}

.dp__form-group-check {
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
    margin-top: 13px;
  }

  .dp__form-input-check {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px; 
    height: 18px; 
    border: 2px solid #626262; 
    border-radius: 3px;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
  }

  .dp__form-input-check:checked::before {
    content: "\2713"; 
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    font-size: 13px; 
  }

  .dp__form-label-check {
    cursor: pointer;
    font-size: 16px;
    color: #3D3D3D;
    opacity: 0.9;
    font-family: RalewayMedium;
  }
  .dp__label-check{
    color: #8A8A8A;
    font-size: 13px;    
  }
  

  /* alerta */
  .alert-danger{ 
    box-sizing: border-box;
    width: 1366px;
    height: 91px;
    background: #FCE2E2 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 5px -3px #00000029; 
    opacity: 1;
    /* position: relative; */
    /* left: -202px; */
    /* top: -261px; */
    padding: 19px 105px;
    position: fixed;
    z-index: 9999;
    top: 62px;
    left: 117px;
  
    }
    .alert-title{
        font-family: "RalewayBold";
        color: #A0002E;
    }
    .alert-content{
        position: relative;
        font-family: "RalewayRegular";
        color: #A0002E;
        font-size: 16px;
        margin-top: 3px;
        left: -111px;
        top: 24px;
        transition: all 300s ease-in-out;
        
  }
    .alert-img{
        position: absolute;
        width: 25px;
        height: 25px;   
        right: 50px;
        top: 34px;
        cursor: pointer;
        
    }
  