<!-- <div class="alert-danger" [hidden]="!showAlert || (file.valid && !file.pristine)"> -->
	<div class="alert-danger" [hidden]="!showAlert || formPersonal.valid">
    <img src="" alt="">
    <span class="alert-title">Recuerda</span>
    <span class="alert-content">Para continuar el proceso debes diligenciar todos los campos marcados con asterisco.
    </span>
    <img src="../../../assets/img/close.svg" class="alert-img" alt=""  (click)='hideAlert()'>
</div>

<div class="dp__content"> 
    <form [formGroup]="formPersonal"  autocomplete="off" action="">
        <div class="dp__form">
            <div class="dp__form-header">
                <div class="dp__img-title">
                    <h5 class="archive__title">Seleccionar foto de perfil</h5>
                </div>
                <div class="dp__img-content">
                    
                    <img class="dp__img-image" src="../../../assets/img/user.svg" alt="Imagen de usuario">

                    <div class="dp__img-file">
                        <input formControlName="file"  type="file" >
                        <div class="file-name">Sin archivos seleccionados</div>
                    </div>
                </div>
                <div class="dp__img-desc">
                    <span class="dp__img-description">Formatos permitidos: jpg, jpeg, png, svg, gif. El tamaño del archivo no debe superar 1 MB.</span>
                </div>
            </div>
            <div class="dp__form-content">
                <div class="content__left">
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Tipo de Documento</label>
                        <select formControlName="Tdocumento" class="dp__form-input " >
                            <option value="" disabled selected>Cédula de ciudadanía</option>
                            <option value="cedula">Cédula de Identidad</option>
                            <option value="pasaporte">Pasaporte</option>
                            <option value="licencia">Licencia de Conducir</option>
                        </select>
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Fecha de nacimiento</label>
                        <input formControlName="fecha"  class="dp__form-input dp__form-input--sinfondo" type="date" >
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Nombres</label>
                        <input formControlName="nombre" class="dp__form-input" type="text" placeholder="Escribe aquí" >
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Género</label>
                        <select formControlName="genero" class="dp__form-input dp__form-input--sinfondo" >
                            <option value="" disabled selected>Seleccionar género</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Ciudad</label>
                        <select formControlName="ciudad" class="dp__form-input dp__form-input--sinfondo" >
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="ciudad1">Ciudad 1</option>
                            <option value="ciudad2">Ciudad 2</option>
                            <option value="ciudad3">Ciudad 3</option>
                        </select>
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Dirección de contacto</label>
                        <input formControlName="direccion" class="dp__form-input dp__form-input--sinfondo" type="text"  placeholder="Escribe aquí">
                    </div>
                </div>
            
                <div class="content__right">
                    <!-- Campos para la derecha -->
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Número de Documento</label>
                        <input formControlName="documento" class="dp__form-input" type="text" placeholder="1.111.111.1111" >
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Nacionalidad</label>
                        <select formControlName="nacionalidad" class="dp__form-input dp__form-input--sinfondo" >
                            <option value="" disabled selected>Seleccionar nacionalidad</option>
                            <option value="argentina">Argentina</option>
                            <option value="chilena">Chilena</option>
                            <option value="colombiana">Colombiana</option>
                        </select>
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label">Apellidos</label>
                        <input formControlName="apellidos" class="dp__form-input" type="text"placeholder="Escribe aquí" >
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label" >Correo Electrónico</label>
                        <input formControlName="email" class="dp__form-input" type="email" placeholder="correo@empresa.com" >
                    </div>
            
                    <div class="dp__form-group">
                        <label class="dp__form-label">Número de Contacto</label>
                        <input formControlName="numeroContacto" class="dp__form-input" type="tel"  placeholder="+57 12345678" >
                    </div>
                </div>
            </div>
            
        </div>
        <div class="btns__form">
            <!-- <button class="btn btn-primary">Ojito</button> -->
            <app-modal></app-modal>
            <button class="btn__cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Cancelar</button>
			<button (click)="onSubmit()"  type="submit" class="btn__next">Continuar</button>
        </div>
    </form>
</div>

