.layout__content {
  position: relative; 
  width: 958px;
  height: 942px;  
  margin: 11.5rem auto;
  margin-left: 313px;
  margin-top: 2.3rem;
  margin-bottom: 9.5rem; 
  border-radius: 1.2rem; 
  box-shadow: 0px 4px 30px -20px rgba(0, 0, 0, 0.9);   
 
}
.dp__navbar {
    display: flex;
    margin: 27px auto 0;
    position: relative;
    width: 958px;
    height: 80px;
    background-color: #f1f1f1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dp__menu {
    font-size: 1.1rem;
    color: #626262;
    font-weight: 600;
    text-align: center;
    padding: 27px 0px;
    text-decoration: none;
    border-right: 1px solid #ddd;
    clip-path: polygon(0% 0%, 94% 0%, 99% 50%, 94% 100%, 0% 100%);
    width: calc(100% / 3);
    box-sizing: border-box;
    text-align: center;
}

.dp__menu:last-child {
    border-right: none;
    clip-path: none;
    border-top-right-radius: 20px; 
}

.dp__menu:first-child {
    border-top-left-radius: 20px; 
}

.dp__menu:hover {
    background-color: #DD0034;
    color: #fff;
    cursor: pointer;
}

.dp__navbar .active {
    background-color: #DD0034;
    color: white;
}

.dp__menu a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icono-menu {
    width: 27px;
    height: 27px;
    margin-right: 14px;
    margin-left: -51px;
    align-items: center;
    vertical-align: middle;
}

/* formulario */
.dp__content{
    width: 911px;
    margin-top: 32px;
    margin-left: 14px ;
    margin-right: 23px ;
}
.dp__img-title{
  margin-left: 107px;
  margin-bottom: -20px;
  font-size: 1.2rem;
  color: #3D3D3D;
}
form{
  width: 958px;
}
.dp__form-header{
    align-items: center;
    width: 887px;
    margin-bottom: 40px;
}

.dp__img-content{
    display: flex;
    flex-direction: row;
}
.dp__img-image{
   width: 68px;
   height: 68px;
   /*font-weight: 900;
   *//*stroke-width: 5;
   */
}

.archive__title{
    font-size: 18px;
    font-family: "RaleWayBold";
    margin-bottom: 30px;
}
.dp__img-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .dp__img-image {
    margin-right: 10px;
  }
  .dp__img-desc{
    font-size: 14px;
    margin-left: 107px;
    color: #3D3D3D;
  }
  
  .dp__img-file,
  .dp__img-file::before,
  .dp__img-file input[type="file"],
  .file-name {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .dp__img-file::before {
    background-color: white;
    color: #2377A2;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar archivo';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 163px;
    height: 41px;
    border: 2px solid #3888CE;
    margin-left: 15px;
    
    
  }
  
  .dp__img-file input[type="file"] {
    opacity: 0;
    width: 163px;
    height: 41px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .file-name {
    font-size: 18px;
    background-color: transparent;
    padding: 14px 25px;
    border-top: none;
    border-radius: 0 0 3px 3px;
    color: #3D3D3D;
    font-weight: 500;
    font-family: RalewaySemibold;
    margin-top: -4px;
    margin-left: 12px;
  }
  .dp__form-content{
    display: flex;
    flex-direction: row;
  }
  .content__left{
    /* max-width: 456px; */
    margin-right: 19px;
    margin-left: 10px
    
  }
 
  .dp__form-group{
    max-width: 456px;
    display: flex;
    flex-direction: column;
  }
  
  .dp__form-input {
  box-sizing: border-box;
   top: 545px;
   left: 228px;
   width: 436px;
   height: 52px;
   border: none;
   outline: none;
   background-color: #F1F1F1;
   border-bottom: 2px solid #E8E8E8;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   margin-bottom: 26px;
   font-family: sans-serif;
   padding-left: 15px;

}
.dp__form-label{
    color: #626262;
    font-size: 13px;
    margin-bottom: 5px;
}
.dp__form-input::placeholder {
    /* padding-left: 20px; */
    color: #8A8A8A; 
    font-size: 14px; 
  }

  .dp__form-group .dp__form-input:not(:placeholder-shown) {
    color: #8A8A8A; 
    font-size: 16px;
    padding-left: 20px;

  }
  
  .dp__form-input--sinfondo {
    max-width: 456px;

    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #AFAFAF;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #3D3D3D;
}
.btns__form{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 40px;
  margin-top: 113px;
  /* margin-left: 200px; */
}

.btn__cancel{
  cursor: pointer;
  font-size: 18px;
  width: 298px;
  height: 62px;
  color: #2377A1;
  border: 2px solid #91BBD0;
  border-radius: 4px;
  opacity: 1;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 300ms ease-in-out;

}

.btn__next{
  cursor: pointer;
  font-size: 18px;
  width: 298px;
  height: 60px;
  color: white;
  border: 1px solid #91BBD0;
  border-radius: 4px;
  opacity: 1;
  background-color: #DD0034;
  transition: all 300ms ease-in-out;

}
.btn__cancel:hover {
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
}
.btn__next:hover {
  color: white;
  background-color: #A0002E;
}
  
.alert-danger{ 
  box-sizing: border-box;
  width: 1366px;
  height: 91px;
  background: #FCE2E2 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 5px -3px #00000029; 
  opacity: 1;
  /* position: relative; */
  /* left: -202px; */
  /* top: -261px; */
  padding: 19px 105px;
  position: fixed;
  z-index: 9999;
  top: 62px;
  left: 117px;

  }
  .alert-title{
      font-family: "RalewayBold";
      color: #A0002E;
  }
  .alert-content{
      position: relative;
      font-family: "RalewayRegular";
      color: #A0002E;
      font-size: 16px;
      margin-top: 3px;
      left: -111px;
      top: 24px;
      transition: all 300s ease-in-out;
      
}
  .alert-img{
      position: absolute;
      width: 25px;
      height: 25px;   
      right: 50px;
      top: 34px;
      cursor: pointer;
      
  }
  