<!-- <section class="layout__footer">
    <div class="footer__content">
      <div class="footer__img">
        <img class="logo__img" src="assets/img/logo_ccb_2.png" alt="Logo CCB.." />
      </div>
      <div class="footer__bottom">

        <ul class="botton__links">
          <li class="links__item">
            <a class="links__link" href="#">Términos y condiciones</a>
          </li>
          <li class="links__item">
            <a class="links__link" href="#"
              >Proteccion de datos personales</a
            >
          </li>
          <li class="links__item">
            <a class="links__link" href="#">Reglas en redes sociales</a>
          </li>
        </ul>

        <ul class="botton__links">
          <li class="links__item">
            <a class="links__link" href="#">Términos y condiciones</a>
          </li>
          <li class="links__item">
            <a class="links__link" href="#">Línea de ética CCb</a>
          </li>
        </ul>

        <ul class="botton__links">
          <li class="links__item">
            <a class="links__link" href="#">Ética en la CCB</a>
          </li>
          <li class="links__item">
            <a class="links__link" href="#">E-mail de notificaciones judicilaes</a>
          </li>
        </ul>

      </div>
      <div class="footer__copyright">
        <div class="fleft__copy">Todos los derechos reservados</div>
        <div class="frigth__copy">Camara de comercio de Bogotá, 2024</div>
      </div> 
    </div>
  </section> -->