.layout__footer {
    margin: 0 auto;
    margin-top: 900px;
    top: 1346px;
    left: 0px;
    width: 1366px;
    height: 288px;
    background: var(--gris-textos-3d3d3d) 0% 0% no-repeat padding-box;
    background: #3D3D3D 0% 0% no-repeat padding-box;
    opacity: 1;
    
}

.logo__img {
   
    width: 101.81px;
    height: 36.1px;
    margin-left: 48.1px;
    margin-top: 32.31px;
    margin-bottom: 17px;
    /* margin-left: 4.3rem;
    background-color: transparent;
    margin-top: 2.5rem; */
}
.footer__bottom{
    display: flex;
}
/* 
.footer__main{
    display: flex;
}

.footer__links{
    flex-basis: 25%;
}
.links__link{
    padding-top: 2rem;
    font-size: 1.8rem;
    color: var(--gris-input-inhabilitado-e8e8e8);
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.footer__bottom{
    display: flex;    
    font-size: 1.8rem;
    border-top: 1px solid var(--color-boders);
    padding: 2.5rem 0;
    color: #8A8A8A;
    flex-direction: row;
    justify-content: space-between;

}

.footer__copyright{
    padding: 0.rem 4rem;
}

.footer__links{
    justify-content: flex-end;

} */

.layout__content{
    margin: 0 auto;
}

