<!-- <section class="layout__header">
  <div class="header__conten">
    <img class="logo__img" src="assets/img/logo_ccb.png" alt="Logo CCB.." />
  </div>
</section>
<section class="layout__main">
  <header class="main__header-content">
    <h1 class="header-title__title">
      Registro Red de Mentoría y Voluntariado de la CCB
    </h1>
    <p class="header-tile__description">
      Por favor, completar el siguiente formulario con la informacion requerida.
      Recuerda que los campos con asterisco (*) son obligatorios
    </p>
  </header>
</section> -->
