 
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">

            <div class="content__modal">
                <span class="logo__modal"><img src="../../../assets/img/user.svg" alt=""></span>
                <p class="title__modal">¡Perderas la informacion diligenciada!</p>
                <p class="description__modal">Recuerda que es necesario terminar de diligenciar el formulario, de lo contrario si sales perderás el progreso que llevas de este. <span class="span__desc">Te aconsejamos finalizar. ¡Ya falta poco!</span> </p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary continuar" data-bs-dismiss="modal">Contirnuar</button>
          <button type="button" class="btn btn-primary salir">Salir del formulario</button>
        </div>
      </div>
    </div>
  </div>