<div class="contenido">
  <aside class="imagen_cont">
    <img class="img_home" src="../../../assets/img/home.jpg" alt="" />
  </aside>
  <section class="contenido__derecha">
    <header class="header__img">
      <div class="contenedor_img">
        <img class="header_logo" src="../../../assets/img/home__logo.png" alt="">
      </div>
      <div class="contenedor_titulo">
        <span class="subtitle">Te damos la bienvenida a la</span>
          <span class="title">Red de Mentoría y Voluntariado de la CCB</span>
        <p class="description">
          Aquí conectamos a mentores, mentoras, empresarios, empresarias,
          emprendedores y emprendedoras con programas que impulsan al
          crecimiento empresarial en Bogotá y la Región.
        </p>
        <button  class="btn iniciar-sesion">Inicia sesión <img class="img_flecha" src="../../../assets/img/arrow-right-blue.svg" alt=""></button>
      </div>
    </header>
    <div class="content__desc">
      <p class="desc__subtitle">
          ¡Únete a nuestra comunidad de apoyo para fortalecer la competitividad de
        las empresas y marcar la diferencia!
      </p>
    </div>
    <!-- tarjetas -->

    <div class="tarjetas">
      <div class="tarjeta">
        <div class="logo_tarjeta">
          <i class="tarjeta_icon"><img src="../../../assets/img/Instagram.svg" alt=""/></i>
        </div>
        <div class="tarjeta_contenido">
          <h2 class="tarjeta_title">¿Quieres ser mentor/a voluntario/a?</h2>
          <p class="tarjeta_desc">
            Regístrate y comparte tu conocimiento para impulsar el crecimiento
            empresarial en nuestra región.
          </p>
        </div>
        <button (click)="onSubmit()" class="tarjeta_btn">Regístrate</button>
      </div>

      <div class="tarjeta tarjeta--2">
        <div class="logo_tarjeta">
          <i class="tarjeta_icon"><img src="../../../assets/img/Instagram.svg" alt=""/></i>
        </div>
        <div class="tarjeta_contenido">
          <h2 class="tarjeta_title">¿Tienes una empresa o emprendimiento?</h2>
          <p class="tarjeta_desc">
            Regístrate a nuestros programas y descubre cómo nuestra Red de Mentoría y Voluntariado impulsa tu competitividad y te ayuda a abrir nuevas oportunidades de crecimiento.
          </p>
        </div>
        <button (click)="onSubmit2()" class="tarjeta_btn">Regístrate</button>
      </div>
      
      <div class="tarjeta tarjeta--2">
        <div class="logo_tarjeta">
          <i class="tarjeta_icon"><img src="../../../assets/img/Instagram.svg" alt=""/></i>
        </div>
        <div class="tarjeta_contenido">
          <h2 class="tarjeta_title">¿Quieres ser parte del directorio de miembros de juntas?</h2>
          <p class="tarjeta_desc">
            Regístrate y haz parte del directorio de miembros de juntas de la CCB
          </p>
        </div>
        <button  class="tarjeta_btn">Regístrate</button>
      </div>

    
      
      
    </div>
  </section>
</div>
