@font-face{
    font-family: 'RaleWayRegular';
    src: url('./Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'RaleWayMedium';
    src: url('./Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face{
    font-family: 'RaleWayBold';
    src: url('./Raleway-Bold.ttf') format('truetype');
    font-weight: 900;
}
@font-face{
    font-family: 'RaleWaySemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
