<!DOCTYPE html>
<html lang="es">
    <!-- prueba -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="layout">
        <!-- header -->
        <section class="layout__header">

            <div class="header__container-image">
                <img class="header__image" src="../assets/img/logo_ccb.png" alt="Logo CCb">
            </div>

        </section>
        <!-- contenido principal -->
        <section class="layout__title">
            <div class="header__container">
                <div class="header__title">
                    <p class="title__description">Registro Red de Mentoría y Voluntariado de la CCB</p>
                </div>
                <div class="header__subtitle">
                    <p class="subtitle__description">Por favor, completa el siguiente formulario con la información
                        requerida. Recuerda que los campos marcados con asterisco (*) son obligatorios.</p>
                </div>
            </div>
        </section>
        <div class="layout__content" [ngClass]="{'estilo-datos-personales': isDatosPersonalesActive(), 'estilo-informacion-academica': isInformacionAcademicaActive(), 'estilo-informacion-laboral': isInformacionLaboralActive()}">
            <nav class="dp__navbar">
                <div class="dp__menu" routerLink="/datos-personales" routerLinkActive="active">
                    <a class="dp__menu-link">
                        <img src="../../../assets/img/Usuario.svg" alt="Datos personales" class="icono-menu">
                        <span>Datos personales</span>
                    </a>
                </div>
                <div class="dp__menu" routerLink="/informacion-academica" routerLinkActive="active">
                    <a class="dp__menu-link">
                        <img src="../../../assets/img/Usuario.svg" alt="Información académica" class="icono-menu">
                        <span>Información académica</span>
                    </a>
                </div>
                <div class="dp__menu" routerLink="/informacion-laboral" routerLinkActive="active">
                    <a class="dp__menu-link">
                        <img src="../../../assets/img/Usuario.svg" alt="Información laboral" class="icono-menu">
                        <span>Información laboral</span>
                    </a>
                </div>
            </nav>
            
            <!-- <div class="dp__content"> -->
            
            <router-outlet></router-outlet>
        <!-- </div> -->
    </div>

        <!-- <app-datos-personales></app-datos-personales> -->

        <!-- </main> -->
        <!-- footer -->
        <section class="layout__footer">
            <div class="footer__container-image">
                <img class="footer__image" src="../assets/img/logo_ccb_2.png" alt="Logo CCb">
            </div>
            <div class="footer__lists">
                <ul class="footer__list">
                    <a class="footer__item" href="#">Términos y condiciones</a>
                    <a class="footer__item" href="#">Protección de Datos Personales</a>
                    <a class="footer__item" href="#">Reglas en redes sociales</a>
                </ul>
                <ul class="footer__list">
                    <a class="footer__item" href="#">Ley de transparencia</a>
                    <a class="footer__item" href="#">Línea de ética CCB</a>
                </ul>
                <ul class="footer__list">
                    <a class="footer__item" href="#">Ética en la CCB</a>
                    <a class="footer__item" href="#">E-mail de notificaciones judiciales</a>
                </ul>

                <ul class="footer__list">
                    <a class="footer__icon" href="#"><i class="fab fa-facebook-f">F</i></a>
                    <a class="footer__icon" href="#"><i class="fab fa-instagram">F</i></a>
                    <a class="footer__icon" href="#"><i class="fab fa-twitter">F</i></a>
                    <a class="footer__icon" href="#"><i class="fab fa-youtube">F</i></a>
                </ul>
            </div>
            <div class="footer__content__copy">
                <span class="description__copy">Todos los derechos reservados</span>
                <span class="description__copy">Cámara de Comercio de Bogotá, 2023</span>
            </div>
        </section>
    </div>
</body>

</html>