    <div class="layout">
        <!-- header -->
        <section *ngIf="rutaHome()" class="layout__header" >

            <div class="header__container-image">
                <img class="header__image" src="../assets/img/logo_ccb.png" alt="Logo CCb">
            </div>

        </section>
        <!-- contenido principal -->
        <section *ngIf="rutaHome()" class="layout__title">
            <div class="header__container">
                <div class="header__title">
                    <p class="title__description">Registro Red de Mentoría y Voluntariado de la CCB</p>
                </div>
                <div class="header__subtitle">
                    <p class="subtitle__description">Por favor, completa el siguiente formulario con la información
                        requerida. Recuerda que los campos marcados con asterisco (*) son obligatorios.</p>
                </div>
            </div>
        </section>
        <div  class="layout__content" [ngClass]="{'estilo-datos-personales': isDatosPersonalesActive(), 'estilo-informacion-academica': isInformacionAcademicaActive(), 'estilo-informacion-laboral': isInformacionLaboralActive(),'estilo-datos-emprendedor': isRegistroEmprendedorActive(), 'estilos-home': isrutaHomeActive()}">
            <nav  class="dp__navbar" *ngIf="rutaEspecifica() && rutaHome()" >
                <div class="dp__menu dp__menu--primero" routerLink="/datos-personales" routerLinkActive="active">
                    <a class="dp__menu-link">
                        <img src="../assets/img/Usuario2.svg" alt="Datos personales" class="icono-menu">
                        <span class="dp__menu-span">Datos personales</span>
                    </a>
                </div>
                <div class="dp__menu dp__menu--segundo" routerLink="/informacion-academica" routerLinkActive="active">
                    <a class="dp__menu-link">
                        <img src="../assets/img/Frame.svg" alt="Información académica" class="icono-menu">
                        <span class="dp__menu-span">Información académica</span>
                    </a>
                </div>
                <div class="dp__menu dp__menu--tercero" routerLink="/informacion-laboral" routerLinkActive="active">
                <span class="dp__menu--divisor" *ngIf="noDivisor()"></span>
                    <a class="dp__menu-link" >
                        <img src="../assets/img/Beneficios.svg" alt="Información laboral" class="icono-menu">
                        <span class="">Información laboral</span>
                    </a>
                </div>
            </nav>
            <router-outlet></router-outlet>
    </div>

        <!-- footer -->
        <section class="layout__footer">
            <div class="footer__container-image">
                <img class="footer__image" src="../assets/img/logo_ccb_2.png" alt="Logo CCb">
            </div>
            <div class="footer__lists">

                <ul class="footer__list">
                    <li class="footer__item"><a href="#">Términos y condiciones</a></li>
                    <li class="footer__item"><a href="#">Protección de Datos Personales</a></li>
                    <li class="footer__item"><a href="#">Reglas en redes sociales</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#">Ley de transparencia</a></li>
                    <li class="footer__item"><a href="#">Línea de ética CCB</a></li>
                </ul>

                <ul class="footer__list footer__list--3">
                    <li class="footer__item"><a href="#">Ética en la CCB</a></li>
                    <li class="footer__item"><a href="#">E-mail de notificaciones judiciales</a></li>
                </ul>        
                <ul class="footer__list footer__list--4">
                    <li class="footer__item"><a href="#">¡Siguenos!</a></li>
                    <div class="links-content">
                    <div class="links-images">
                        <li class="images"><a href="#"><img src="../assets/img/Facebook.svg" alt=""></a></li>
                        <li class="images"><a href="#"><img src="../assets/img/Youtube.svg" alt=""></a></li>    
                    </div> 
                    <div class="links-images">
                        <li class="images"><a href="#"><img src="../assets/img/ICONO_X.png" alt=""></a></li>    
                        <li class="images"><a href="#"><img src="../assets/img/Instagram.svg" alt=""></a></li>
                    </div>
                    <div class="links-images">
                        <li class="images"><a href="#"><img src="../assets/img/LinkedIn.svg" alt=""></a></li>
                        <li class="images"><a href="#"><img src="../assets/img/tiktok.svg" alt=""></a></li>    
                    </div>      
                </div>
                </ul>
                
            </div>
            
            <div class="footer__content__copy">
                <span class="description__copy">Todos los derechos reservados</span>
                <span class="description__copy">Cámara de Comercio de Bogotá, 2023</span>
            </div>
        </section>
        
    </div>
