/* RESETEAR ESTILOS */
*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;  

}
*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
    
}


ul, ol{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}
p a{
    display: inline;
}

img, video, iframe, picture, figure{
    max-width: 100%;
    display: block;

}
form, input, select, textarea, button, label{
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
}

/* VARIABLES */
:root{
--blanco-ffffff: #fff;
--negro-000000: #000000;
--rojo-hover-a0002e: #A0002E;
--azul-oscuro-0b2d43: #0B2D43;
--azul-primario-2377a1: #2377A1;
--gris-textos-3d3d3d: #3D3D3D;
--gris-circulo-de-afiliados-dadada: #DADADA;
--gris-input-8a8a8a: #8A8A8A;
--gris-label-626262: #626262;
--gris-input-inhabilitado-e8e8e8: #E8E8E8;
--color-principal-dd0034: #DD0034;
}

/* ESTILOS GENERALES */

html {
    /* esto es equivalente a 10px */
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "BwGradualRegular", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--blanco-ffffff);
    color: var(--color-text);
    overflow: hidden;
}

/* ESTRUCTURA PRINCIPAL */

.layout__header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centrar el elemento en la pantalla */
    width: 1366px;
    height: 61px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.070);
    z-index: 1000;
}

.header__container-image {
    height: 60px;
}

.header__image {
    position: absolute;
    top: 10px;
    bottom: 8px;
    left: 57.33px;
    width: 132px;
}


.header__container{
    width: 958px;
    margin: 0 auto;
    /* margin-top: 3rem; */
}
.header__title{
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #3D3D3D;
}

.header__subtitle{
    font-size: 1.2rem;
    line-height: 1.2;
}

/* title */

.layout__title{
    margin: 0 auto;
    margin-top: 86px;
    width: 100%;
    margin-left: 9px;
    /* border: 1px solid grey; */
}
.title__description{
    /* margin-top: 90px; */
    font-size: 36px;
    color: #3D3D3D;
    font-family: "BwGradualBlack";
    font-weight: 400;
    

}
.subtitle__description{
    font-family: "RaleWayMedium";
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #3D3D3D;

    
}

/* content */

 /*.layout__content {
    position: relative; */
    /* overflow: hidden;
    min-width: 958px; */
    /* width: 958px;
    height: 942px; */
    /* min-height: 80vh; */
    /* margin: 11.5rem auto;
    margin-left: 313px;
    margin-top: 2.3rem;
    margin-bottom: 9.5rem; */
    /* display: grid; */
    /* grid-template-areas:        "header content footer";
    grid-template-rows: 10% 60% 30%; */
    /* border-radius: 1.2rem; */
    /* border: 1px solid gray; */
    /*SOMBRADETRASDELLAYOUT*/
    /* box-shadow: 4px 4px 4px -2px rgba(100, 0, 0, 0.070); */
    /* box-shadow: 0px 4px 30px -20px rgba(0, 0, 0, 0.9);    
   
}*/

/* footer */

.layout__footer{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 288px;
    margin: 0 auto;
    /* border: 1px solid transparent; */
    /* margin-top: 7rem; */
    background-color: #3D3D3D;
    margin-top: 2rem;
    margin-left: 117px;
}
.footer__container-image{
    width: 1366px;
    margin-top: 32.31px;
    /* margin-left: 48.1px; */
    /* position: relative; */
    /* border: 1px solid red; */
    height: 41px;
}
.footer__image{
    /* position: absolute; */
    /* top: 32.31px;
    left: 48.1px; */
    width: 101.81px;
    height: 33.33px;   
    margin-left: 48.1px;

}

.footer__content{
    margin-top: 4rem;
}
.footer__lists{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-left: 47px;
    /* border: 1px solid green; */
    gap: 50px;
}

.footer__list--3{
    display: inline-block;
    margin-left: -53px;

}
.footer__list--4{

    /* display: inline-block; */
    margin-left: -13px;
}
.links-content{
    display: flex;
    /* flex-direction: column; */
}
.links-images{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    gap: 18px;
    margin-top: 13px;
    margin-right: 31px;

}

.footer__list-link{
    width: 362px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.list-link__title{
    font-family: "RaleWaySemiBold";
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #BCBCBC;
    opacity: 1;
}
.list-link__left{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.list-link__right{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.footer__icon{
    width: 32px;
    height: 32px;
}
.footer__item{
    font-size: 16px;
    margin-top: 1rem;
    color: #FFFFFF;
    /* font-weight: 600; */
    line-height: 1.7;
    /* margin-right: 8.8rem; */
    font-family: "RaleWaySemiBold";
    letter-spacing: 0px;
    width: 300px;
    /* margin-left: 10px; */
}
.footer__content__copy{
    width: 1315px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

}
.description__copy{
    /* margin-right: 5px; */
    margin-left: 3rem;
    font-size: 14px;
    padding-top: 22px;
    color: #8A8A8A;
    font-family: "RaleWaySemiBold";
    letter-spacing: 0px;

}

/* menu inicio */
.layout__content {
  position: relative;
  width: 958px;
  height: 942px;
  margin: 11.5rem auto;
  margin-left: 321px;
  margin-top: 2.3rem;
  margin-bottom: 9.5rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 8px #00000029;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.estilo-informacion-academica {
    /*Estilosespecíficosparainformacion-academica*/position: relative;
    width: 958px;
    height: 460px;
    margin: 11.5rem auto;
    margin-left: 320px;
    margin-top: 2.3rem;
    margin-bottom: 9.5rem;
    border-radius: 1.2rem;
    box-shadow: 0px 5px 8px #00000029;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

.estilo-informacion-laboral {
    /*Estilosespecíficosparainformacion-academica*/position: relative;
    width: 958px;
    height: 864px;
    margin: 11.5rem auto;
    margin-left: 320px;
    margin-top: 2.3rem;
    margin-bottom: 22rem;
    border-radius: 1.2rem;
    box-shadow: 0px 5px 8px #00000029;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}
.estilo-datos-emprendedor {
  /*Estilosespecíficosparainformacion-academica*/position: relative;
  position: relative;
  width: 958px;
  height: 852px;
  margin: 11.5rem auto;
  margin-left: 321px;
  margin-top: 2.3rem;
  margin-bottom: 4rem;
  border-radius:none;
  box-shadow: none;
  -webkit-border-radius:none;
  -moz-border-radius:none;
  -ms-border-radius:none;
  -o-border-radius:none;
}
/* .layout__content-emprendedor {
    position: relative;
    width: 958px;
    height: 852px;
    margin: 11.5rem auto;
    margin-left: 321px;
    margin-top: 2.3rem;
    margin-bottom: 9.5rem;
    border-radius: 1rem;
    
  } */

.dp__navbar {
    display: flex;
    margin: 27px auto 0;
    position: relative;
    width: 958px;
    height: 80px;
    background-color: #f1f1f1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dp__menu {
    font-size: 1.1rem;
    color: #626262;
    font-weight: 600;
    text-align: center;
    /* padding: 25px 0px; */
    text-decoration: none;
    border-right: 1px solid #ddd;
    clip-path: polygon(0% 0%, 94% 0%, 99% 50%, 94% 100%, 0% 100%);
    width: calc(100% / 3);
    box-sizing: border-box;
    text-align: center;
}
.dp__menu--primero {    
    width: 290px;   
    margin-right: 33px; 
    padding: 25px 0px;

}
.dp__menu--segundo {    
    width: 329px;    
    margin-right: 14px; 
    padding: 25px 0px;

}
.dp__menu--divisor{
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #A9A9A9;
    left: 0;
    top: 20px;
}
.dp__menu--tercero {    
    position:relative;
    width: 350px;    
    padding: 28px 0px;
    padding-left: 28px;

    /* margin-right: 14px;  */

}
.dp__menu--tercero .icono-menu {    
    width: 25.43px;
    height: 25.43px;
    margin-right: 17px;
}

.dp__menu:last-child {
    border-right: none;
    clip-path: none;
    border-top-right-radius: 15px; 
}

.dp__menu:first-child {
    border-top-left-radius: 15px; 
}

.dp__menu:hover {
    /* background-color: #DD0034;
    color: #fff; */
    cursor: pointer;
}

.dp__navbar .active  {
    background-color: #DD0034;
    color: white;
        
}


.dp__menu-link {
    /* color: inherit; */
    /* text-decoration: none; */
    display: flex;
    margin-left: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100%; */
}
.dp__menu-span{
    position: relative;    
    top: 2px;
    font-family: "RaleWaySemiBold";
}

.icono-menu {
    width: 28.43px;
    height: 28.43px;
    margin-right: 14px;
    /* margin-left: 100px; */
    align-items: center;
    vertical-align: middle;
}
.dp__navbar .active .icono-menu  {
    filter: brightness(10);        
}

/* formulario */
.dp__content{
    width: 911px;
    margin-left: 23px ;
    margin-right: 23px ;
}